<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Regression Suite">

	<listeners>
		<listener class-name="webqa.ensurity.listener.TestListener" />
	</listeners>


	<test name="Web-Automation">
		<parameter name="browser" value="chrome" />
		<classes>
			<class name="webqa.ensurity.testCases.TwoWheelerDIGIT"/>
			<class name="webqa.ensurity.testCases.FourWheelerFuture_G"/>
			<class name="webqa.ensurity.testCases.FourWheelerHDFC_ERGO"/>
			<class name="webqa.ensurity.testCases.FourWheelerICICI_L"/>
			<class name="webqa.ensurity.testCases.FourWheelerDIGIT"/>
			<class name="webqa.ensurity.testCases.FourWheelerTATA_AIG"/>
			<class name="webqa.ensurity.testCases.FourWheelerReliance" >
<!--				<methods>-->
<!--					<include name="verify2wRolloverPolicyPurchageWithDigitBeforeJuly2018withDiffrentNcb"></include>-->
<!--				</methods>-->
			</class>
		</classes>

	</test>

</suite>