<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Regression Suite">

	<listeners>
		<listener class-name="webqa.com.listener.TestListener" />
	</listeners>


	<test name="Web-Automation">
		<parameter name="browser" value="chrome" />
		<classes>
<!--			<class name="webqa.com.testCases.websiteTest">-->
			<class name="webqa.com.testCases.DashboardTest">
				<methods>
					<include name="verifyFirstCallCompletion"></include>
<!--					<include name="verifyCreateQuotation"></include>-->
				</methods>
			</class>
		</classes>

	</test>

</suite>