<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Regression Suite">

	<listeners>
		<listener class-name="webqa.ensurity.listener.TestListener" />
	</listeners>


	<test name="Web-Automation">
		<parameter name="browser" value="chrome" />
		<classes>
<!--			<class name="webqa.ensurity.testCases.TwoWheeler" >-->
<!--					<methods>-->
<!--						<include name="verify2wRolloverPolicyPurchageWithHdfcErgo"></include>-->
<!--						<include name="verify2wRolloverPolicyPurchageWithReliance"></include>-->
<!--						<include name="verify2wRolloverPolicyPurchageWithDigit"></include>-->
<!--						<include name="verify2wRolloverPolicyPurchageWithTataAig"></include>-->
<!--						<include name="verify2wRolloverPolicyPurchageWithIcici"></include>-->
<!--						<include name="verify2wRolloverPolicyPurchageWithBajaj"></include>-->
<!--						<include name="verify2wRolloverPolicyPurchageWithFuture"></include>-->
<!--						<include name="verify2wNewVehiclePolicyPurchageWithDigit"></include>-->
<!--						<include name="verify2wNewVehiclePolicyPurchageWithReliance"></include>-->
<!--						<include name="verify2wNewVehiclePolicyPurchageWithTataAig"></include>-->
<!--						<include name="verify2wNewVehiclePolicyPurchageWithIcici"></include>-->
<!--						<include name="verify2wNewVehiclePolicyPurchageWithBajaj"></include>-->
<!--						<include name="verify2wNewVehiclePolicyPurchageWithHdfcErgo"></include>-->
<!--						<include name="verify2wNewVehiclePolicyPurchageWithFuture"></include>-->
<!--						<include name="verify2wBreakInPolicyPurchageWithHdfcErgo"></include>-->
<!--						<include name="verify2wBreakinPolicyPurchageWithDigit"></include>-->
<!-- 						<include name="verify2wBreakInPolicyPurchageWithIcici"></include>-->
<!--						<include name="verify2wBreakInPolicyPurchageWithBajaj"></include>-->
<!--						<include name="verify2wBreakInPolicyPurchageWithTataAig"></include>-->
<!--						<include name="verify2wRolloverPolicyPurchageWithHdfcErgoBeforeJuly2018"></include>-->
<!--						<include name="verify2wRolloverPolicyPurchageWithDigitBeforeJuly2018"></include>-->
<!--						<include name="verify2wRolloverPolicyPurchageWithRelianceBeforeJuly2018"></include>-->
<!--						<include name="verify2wRolloverPolicyPurchageWithIciciBeforeJuly2018"></include>-->
<!--						<include name="verify2wRolloverPolicyPurchageWithBajajBeforeJuly2018"></include>-->
<!--						<include name="verify2wRolloverPolicyPurchageWithFutureBeforeJuly2018"></include>-->
<!--						<include name="verify2wRolloverPolicyPurchageWithHdfcErgoBeforeJuly2018withDiffrentNcb"></include>-->
<!--					</methods>-->
<!--			</class>-->
			<class name="webqa.ensurity.testCases.FourWheeler">
				<methods>
					<include name="verify4wRolloverPolicyPurchageWithDigitBeforeJuly2018"></include>
				</methods>
			</class>
		</classes>

	</test>

</suite>